<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zedr.dhaivat.stockmarketGuide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.detailthree" android:screenOrientation="portrait"></activity>
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.Three" android:screenOrientation="portrait" />
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.detailtwo" android:screenOrientation="portrait" />
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.Two" android:screenOrientation="portrait" />
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.detail" android:screenOrientation="portrait" />
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.One" android:screenOrientation="portrait"></activity>
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.moreapps" android:screenOrientation="portrait"/>
        <activity
            android:name="com.zedr.dhaivat.stockmarketGuide.ScrollingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.zedr.dhaivat.stockmarketGuide.splash" android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>